<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
</head>
<body style="padding: 0 5%;">
    <div class="navbar" style="width: 100%;display: flex;align-items: center;justify-content: center;background-color: black;">
        <ul style="width: 90%;display: flex;align-items: center;justify-content: space-around; list-style: none;font-size: 20px; font-weight: 700;color: white;">
            <li><a href="/" style="text-decoration: none;color: white;"> Movies</a></li>
            <li><a href="/About" style="text-decoration: none;color: white;"> About</a></li>
            <li><a href="/create" style="text-decoration: none;color: white;"> Add New</a></li>
        </ul>
   </div>
   <div class="About" style="width:100% ; display:flex; align-items: center;justify-content: center;">
           <p style="width:80%; background-color:black; color:white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vero, atque repellendus eum veniam assumenda placeat sed nisi necessitatibus porro deserunt natus iusto! Neque incidunt quae sunt repellat odio beatae iure id nihil reiciendis esse omnis atque natus harum placeat error, minus maiores, perspiciatis veniam magni laborum explicabo provident. Dolores cumque, corrupti dolorem veniam voluptatem nobis nesciunt suscipit, reiciendis est optio iure. Ad, sequi fugiat voluptatem accusantium, beatae molestiae quibusdam doloremque quasi eius esse repudiandae ipsa labore maxime. Amet porro id nesciunt nihil quaerat placeat in fuga. Inventore deserunt commodi nemo aut, necessitatibus hic soluta ullam, earum, ad maxime reiciendis.</p>
   </div>
</body>
</html>