<div class="navbar">
    <ul>
      <li><a href="/view/index.ejs">Home</a></li>
      <li><a href="/view/about.ejs">About</a></li>
      <li><a href="/view/create.ejs">Add New Movie</a></li>
    </ul>
</div> 